.input-add-text{
  text-align: center;
  width: 20em;
  border: gray solid 0.5px;
  background-color:#f7f7f7;
  height: 2em;
}

.input-add-text:focus{
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

.div-form-parent{
  text-align: center;
}

.li-item{
  list-style: none;
  text-align: left;
  line-height: 40px;
  font-size: 20px;
  background-color: gray;
  margin-top: 2px;
}


.ul-item{
  width: 20em;
  margin: auto;
  padding-left: 0px;
}

.span-remove-item{
  background-color: red;
  padding: 8px;
  margin-right:10px;
  width: 0;
  display: inline-block;
  transition: 0.3s linear;
  opacity: 0;
}

.li-item:hover .span-remove-item{
  width: 2em;
  opacity: 1.0;
}


.mystyle{
  display: none;
}
